[user]
	email = yuanruleonlin@gmail.com
	name = Yuan-Ru Lin
[commit]
	verbose = true
[submodule]
	recurse = true
[push]
    autoSetupRemote = true
[github]
	user = Yuan-Ru-Lin
[core]
	editor = nvim
[init]
	defaultBranch = main
[pull]
	rebase = true
